@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root{
  --color-text: #DEDFDF;
  --color-bg: #1E212E;
}
html {
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}
#top{
  padding: 2em;
}
nav{
  background-color: var(--color-bg);
  padding: 2rem;
  text-align: right;
  position: fixed;
  top: 0rem;
  right: 0rem;
  height: 1rem;
  width: 100%;
}
nav a{
  color: var(--color-text);
  padding: 1em;
  text-decoration: none;
  font-size: 1.01rem;
}

body {
    font-family: 'Poppins', sans-serif;
    max-width: 40rem;
    margin: 0 auto;
    padding: .75rem;
    color: var(--color-text);
    background-color: var(--color-bg);
}

h3 {
    color: tomato;
}

p {
    line-height: 1.75;
}

img {
    width: 100%;
    display: block;
    margin: 4rem 0;
}

#back-to-top {
  background-color: grey;
  padding: 2rem;
  text-align: center;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 15%;
}
footer{
  text-align: center;
}