@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #eca4fb;
  padding: .5rem;
  margin: 0 auto;
  max-width: 40rem;
}
main{
  max-width: 40rem;
  margin: 0 auto;
}

.post-card-full{
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

img {
  width: 100%;
  border-radius: 1em;
}

.imgae-box{
  flex-basis: 60%;
  flex-grow: 1;
}

.text-box{
  flex-basis: 20%;
  flex-grow:1;
}